@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", sans-serif;
}
canvas {
    background-color: #140635 ;
}
.screen {
    width: 100%;
    height: 100dvh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    inset: 0;
    display: none;
}

.screen.show {
    display: flex;
}

.screen h1 {
    font-size: 2rem;
}

.screen span {
    font-size: 0.7rem;
    color: #5f69fc;
    margin-top: auto;
    margin-bottom: 20px;
  
}

.start-screen > div {
    margin-top: auto;
}

.button-play,
.button-restart {
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    background-color: #ddd;
    display: block;
    margin: 20px auto 0;
    font-size: 1rem;
    cursor: pointer;
}

.button-play:hover,
.button-restart:hover {
    background-color: #fff;
}

.game-over {
    scale: 0;
}
.game-over.show {
    animation: zoom 2s ease-in-out forwards;
}

.score-ui {
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 40px;
    text-transform: uppercase;
    font-size: 1rem;
    display: none;
}

.score-ui > div {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
}

.start-screen h5 {
    font-size: 1rem;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 5px;
    text-shadow: 2px 2px 4px rgba(73, 167, 255, 0.658);
    letter-spacing: 1px;
    border-bottom: 0.5px solid hwb(224 0% 60% / 0.911);
    padding-bottom: 20px;
}

@keyframes zoom {
    from {
        scale: 0;
    }

    to {
        scale: 1;
    }
}